temp_dirs/undodir/*
bundle/ack.vim/.netrwhist
temp_dirs/yankring_history_v2.txt
bundle/yankring/doc/tags
bundle/tlib/doc/tags
bundle/ctrlp.vim/doc/tags*
tags
.DS_Store

-MiniBufExplorer-
*.vim.swp
*.vim.swo
undo/*.vim
backups/*
swaps/*
undo/*
.netrwhist
