[submodule "sources_non_forked/vim-session"]
	path = sources_non_forked/vim-session
	url = https://github.com/xolox/vim-session
[submodule "sources_non_forked/vim-misc"]
	path = sources_non_forked/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "sources_non_forked/vim-unimpaired"]
	path = sources_non_forked/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "sources_non_forked/auto-pairs"]
	path = sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "sources_non_forked/minibufexpl.vim"]
	path = sources_non_forked/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "sources_non_forked/indentpython.vim"]
	path = sources_non_forked/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "sources_non_forked/vim-tmux-navigator"]
	path = sources_non_forked/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "sources_non_forked/lightline.vim"]
	path = sources_non_forked/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "sources_non_forked/vim-surround"]
	path = sources_non_forked/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "sources_non_forked/nerdtree-git-plugin"]
	path = sources_non_forked/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "sources_non_forked/vim-nerdtree-syntax-highlight"]
	path = sources_non_forked/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "sources_non_forked/vim-devicons"]
	path = sources_non_forked/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "sources_non_forked/vim-bufkill"]
	path = sources_non_forked/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
